<form class="contact-form">
  <h1>Contact Us</h1>
  <div class="row-container">

    <div class="col-container small-item">
      <label for="first-name" class="label-default">First Name</label>
      <input type="text" name="first-name" class="input-default">
    </div>

    <div class="col-container small-item">
      <label for="last-name" class="label-default">Last Name</label>
      <input type="text" name="last-name" class="input-default">
    </div>

  </div>

  <div class="col-container">
    <label for="email-adress" class="label-default">Email Address</label>
    <input type="email" name="email-adress" class="input-default ">
  </div>

  <label class="label-default">Query Type</label>
  <div class="row-container">
    <div class="input-default small-item row-container">
      <input type="radio" name="query-type" value="general-enquiry" id="general-enquiry">
      <label for="general-enquiry">General Enquiry</label>
    </div>
    <div class="input-default small-item row-container">
      <input type="radio" name="query-type" value="support-request" id="support-request">
      <label for="support-request">Support Request</label>
    </div>
  </div>
  <div class="col-container">
    <label for="message" class="label-default">Message</label>
    <textarea name="message" id="" rows="5" class="input-default"></textarea>
  </div>
  <div class="row-container">
    <input type="checkbox" name="consent" class="input-default" id="consent">
    <label for="consent" class="label-default">I consent to being contacted by the team</label>
  </div>
  <button type="submit">Submit</button>
</form>